aside, blockquote, body, button, dd, dl, dt, fieldset, figure, footer, form, header, input, legend, li, nav, ol, p, pre, section, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #333;
    font-family: 'Open Sans','Helvetica Neue',Arial,'Microsoft YaHei',sans-serif;
    font-weight: normal;
    list-style: none;
}
:focus {
    outline: 0;
}
::-webkit-scrollbar {
    display: none;
}
#global {
    height: 100%;
}
.header-nav {
    border-bottom: 1px solid #ebebeb;
}

a:hover,a:active,a:visited,a:focus {
    text-decoration: none;
    outline: 0;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
button, input, optgroup, option, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
.bs-login-modal-sm .modal-dialog {
    width: 370px;
}
.modal-dialog * {
    box-sizing: content-box;
}
.modal-header,.modal-footer {
    border: none;
    text-align: center;
    font-size: 20px;
}
.modal-body {
    padding: 0 30px;
}
.hp-input {
    padding-bottom: 30px;
    position: relative;
}
.hp-btn {
    display: block;
    width: 100%;
    height: 42px;
    background-color: #eee;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    outline: 0;
    cursor: pointer;
}
.hp-input input {
    width: 268px;
    height: 20px;
    padding: 10px 10px 10px 30px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    line-height: 20px;
    outline: 0;
    -webkit-appearance: none;
    appearance: none;
    -webkit-transition: border .2s ease;
    transition: border .2s ease;
}
.hp-input input:focus, .hp-input input:focus:hover {
    border: 1px solid #44b336;
}
.hp-third-login a:hover {
    opacity: .8;
    filter: Alpha(opacity=80);
}
.hp-icon {
    background: url(../images/sprite-info.png) no-repeat;
    display: inline-block;
}
.hp-icon-del {
    height: 20px;
    width: 20px;
    background-position: -28px -20px;
}
.hp-icon-input-username {
    background-image: url(../images/sprite.png);
    background-position: -306px -123px;
    width: 13px;
    height: 10px;
}
.hp-icon-input-password {
    background-image: url(../images/sprite.png);
    background-position: -274px -123px;
    width: 11px;
    height: 15px;
}
.hp-input-icon {
    position: absolute;
    top: 14px;
    left: 11px;
}
.hp-input .hp-flag {
    width: 20px;
    height: 20px;
    display: none;
    background: url(../images/sprite-info.png) no-repeat;
}
.hp-forgot {
    position: absolute;
    right: 5px;
    top: 13px;
    color: #bbb;
    font-size: 14px;
}
.hp-forgot:hover {
    color: #F50;
}
.modal-header .hp-right {
    position: absolute;
    font-size: 16px;
    right: 0;
}
.hp-view a {
    text-decoration: none;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}
.hp-input .hp-err-tips {
    position: absolute;
    left: 0;
    bottom: 7px;
    font-size: 12px;
    color: #ff615b;
}
.hp-btn.hp-btn-green {
    background-color: #44b336;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
}
.hp-third-login {
    position: relative;
    overflow: hidden;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
}
.hp-third-login.hp-third-bottom {
    padding: 30px 7% 10px;
}
.hp-hide, .hp-mobile {
    display: none;
}
.hp-cf {
    zoom: 1;
}
.hp-third-login .hp-list {
    margin-right: -50px;
}
.hp-third-login a {
    display: block;
    float: left;
    width: 70px;
    margin-right: 50px;
    text-align: center;
    color: #bbb;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
}
.hp-third-login.hp-third-bottom a {
    margin-right: 30px;
}
.hp-third-login a p {
    width: 68px;
    height: 54px;
    padding-top: 14px;
    border-radius: 35px;
    border: 1px solid #ddd;
}
.hp-third-login.hp-third-gray p {
    width: 50px;
    height: 35px;
    padding-top: 15px;
    margin: 0 auto;
}
.hp-third-login a .hp-name {
    height: 30px;
    line-height: 30px;
}
.hp-third-gray .hp-icon-weixin {
    background-image: url(../images/sprite.png);
    background-position: -248px -96px;
    width: 26px;
    height: 23px;
}
.hp-third-gray .hp-icon-qq {
    background-image: url(../images/sprite.png);
    background-position: -248px -123px;
    width: 22px;
    height: 25px;
}
.hp-third-gray .hp-icon-weibo {
    background-image: url(../images/sprite.png);
    background-position: -248px -70px;
    width: 28px;
    height: 22px;
}
.hp-third-login a .hp-icon {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.hp-register {
    padding: 5px 5px 30px 5px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.hp-register a {
    color: #44b336;
}
.tab-content-container .nav-tabs-alt .nav-tabs.nav-justified > li{
    display:inline-block;
    float: left;
    width: 98px;
    height: 40px;
    margin-right: 25px;
}
.tab-content-container .nav-tabs.nav-justified {
    width: 1170px;
    margin-top: 15px;
    height: 40px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.tab-content-container .nav-tabs.nav-justified > li >a{
    display: block;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    color: #7c7c7c;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: all 0.3s;
}
.tab-content-container .nav-tabs.nav-justified>.active>a {
    border: 1px solid #44b336;
    border-bottom-color: #44b336 !important;
    color: #44b336;
}
.tab-content-container .nav-tabs.nav-justified > li > a:hover {
    color: #44b336;
}
.grid a.author-name {
    margin-left: 5px;
    color: #9e7e6b;
}
.grid .meta {
    margin-top: 10px;
}
.grid .meta a:hover {
    text-decoration: underline;
}
.grid a.album-name {
    margin-left: 5px;
    color: #9e7e6b;
}
.confirmModal .modal-sm {
    width: 400px;
}
.confirmModal .modal-content {
    margin-top: 40%;
}
.confirmModal .modal-header {
    padding: 10px 15px;
}
.confirmModal .modal-body {
    padding: 10px 15px;
    border-top: 1px solid #e5e5e5;
}