<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="albumController">
    <div class="col w-lg bg-light b-r bg-auto">
        <div>
            <div class="text-md md-text-title relative">
                <a href class="pull-right" tooltip="新建" ng-click="newAlbum()"><i class="fa fa-plus fa-fw"></i></a>
                <span>相册集</span>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-class="{'active':currentId === list.albumId}" ng-repeat="list in lists"
                    ng-click="setCurrentId(list.albumId)">
                    <span class="pull-right">
                        <a href tooltip="修改" ng-click="modifyAlbum($event,list.albumId)"><i class="fa fa-pencil fa-fw"></i></a>
                        <a href tooltip="上传" ng-click="uploadAlbum($event,list.albumId)"><i class="fa fa-cloud-upload fa-fw"></i></a>
                        <a href tooltip="删除" ng-click="deleteAlbum($event,list.albumId)"><i class="fa fa-trash-o fa-fw"></i></a>
                        <a href ng-if="!list.isPublic"><i class="fa fa-lock fa-fw"></i></a>
                    </span>
                    <span class="pull-left"><i class="fa fa-folder-open text-muted fa m-r-sm"></i> </span>

                    <div class="clear">
                        {{list.albumName}}
                        <span class="badge" ng-class="{
                        'bg-success':list.albumNum < 50,
                        'bg-info':list.albumNum >=50&&list.albumNum<100,
                        'bg-primary':list.albumNum >=100&&list.albumNum<300,
                        'bg-warning':list.albumNum >=300&&list.albumNum<500,
                        'bg-danger':list.albumNum>=500}">{{list.albumNum}}</span>
                    </div>
                </li>
            </ul>
            <div class="text-center" ng-if="lists.length === 0">
                <p style="margin-bottom:30px;">没有任何相册信息</p>
                <a href class="btn btn-sm btn-primary padder-md m-b" ng-click="newAlbum()">新建相册</a>
            </div>
            <!--<div class="text-center">-->
                <!--<a href class="btn btn-sm btn-primary padder-md m-b">更多</a>-->
            <!--</div>-->
        </div>
    </div>
    <div>
        <section>
            <div deckgrid source="albumPhoto" cardTemplate="pages/imageController/imageTemplate.html" class="deckgrid"></div>
        </section>
    </div>
</div>
